/* http://nicolasgallagher.com/micro-clearfix-hack */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
}
.underlined {
   float:left;
   width:100%;
   background: #fff;
   overflow:hidden;
   position:relative;
   padding-top: 15px;
}
.underlined:focus {
  outline: none;
}
.underlined.accordion > section {
  padding: 24px 0;
}
.underlined.accordion > section > * {
  max-width: 100%;
}
.underlined.accordion > section > :first-child {
  margin-top: 0;
}
.js .underlined.accordion > section > :first-child {
  border-bottom: 1px solid;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 12px 0;
}
.js .underlined.accordion > section > :first-child + * > * {
  padding: 24px 0;
}
.js .underlined.accordion > section > :first-child + * > * > * {
  max-width: 100%;
}
.js .underlined.accordion > section > :first-child + * > * > :first-child {
  margin-top: 0;
}
.js .underlined.accordion > section > :first-child + * > * > :last-child {
  margin-bottom: 0;
}
.js .underlined.accordion > section {
  padding: 0;
}
.js .underlined.accordion > section[aria-expanded="true"] > :first-child {
  border-bottom-width: 4px;
}
.underlined.accordion > section > :last-child {
  margin-bottom: 0;
}
.js .underlined.tabs.hide-title > section > :first-child + * {
  margin-top: 0;
}
.underlined.tabs > section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 75px 0;
}
.underlined.tabs > section > :first-child {
  margin-top: 0;
}
.js .underlined.tabs > section > * > * > * {
  max-width: 100%;
}
.js .underlined.tabs > section > * > * > :first-child {
  margin-top: 0;
}
.js .underlined.tabs > section > * > * > :last-child {
  margin-bottom: 0;
}
.underlined.tabs > section > :last-child {
  margin-bottom: 0;
}
.underlined.tabs > section + section {
  margin-top: -1px;
}
.js .underlined.tabs > section + section {
  margin-top: 0;
}
.underlined.tabs > ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
.underlined.tabs > ul:after {
  clear: both;
}
.underlined.tabs > ul:after,
.underlined.tabs > ul:before {
  display: table;
  content: "";
}
.underlined.tabs > ul > li {
  	font-size: 2em;
    font-family:"Open_Sans_B";
	color: #EF7521;
   display:block;
   float:left;
   list-style:none;
   padding:0;
   margin-left: 30px;
   margin-right: 30px;
   position:relative;
   right:50%;
}
.underlined.tabs > ul > li.current {
  	font-size: 2em;
    padding-bottom: .5em;
    font-family:"Open_Sans_B";
	color: #EF7521;
  border-bottom: 6px solid;
  pointer-events: none;
}
.underlined.tabs > ul > li + li {
  margin-left: 24px;
}
.js .underlined.accordion > section > :first-child {
  border-bottom-color: #EF7521;
}
.underlined.tabs > ul {
  border-bottom-color: #EF7521;
}
.underlined.tabs > ul > li.current {
  border-bottom-color: #EF7521;
}
.js .underlined.apple-green.accordion > section > :first-child {
  border-bottom-color: #8db600;
}
.underlined.apple-green.tabs > ul {
  border-bottom-color: #8db600;
}
.underlined.apple-green.tabs > ul > li.current {
  border-bottom-color: #8db600;
}
.js .underlined.avocado.accordion > section > :first-child {
  border-bottom-color: #568203;
}
.underlined.avocado.tabs > ul {
  border-bottom-color: #568203;
}
.underlined.avocado.tabs > ul > li.current {
  border-bottom-color: #568203;
}
.js .underlined.azure.accordion > section > :first-child {
  border-bottom-color: #007fff;
}
.underlined.azure.tabs > ul {
  border-bottom-color: #007fff;
}
.underlined.azure.tabs > ul > li.current {
  border-bottom-color: #007fff;
}
.js .underlined.carrot-orange.accordion > section > :first-child {
  border-bottom-color: #ed9121;
}
.underlined.carrot-orange.tabs > ul {
  border-bottom-color: #ed9121;
}
.underlined.carrot-orange.tabs > ul > li.current {
  border-bottom-color: #ed9121;
}
.js .underlined.tomato.accordion > section > :first-child {
  border-bottom-color: #ff6347;
}
.underlined.tomato.tabs > ul {
  border-bottom-color: #ff6347;
}
.underlined.tomato.tabs > ul > li.current {
  border-bottom-color: #ff6347;
}
